<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"><!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <!-- Compiled and minified CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <title>Reviews</title>
</head>
<body>
<div class="container-fluid bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Administrator page</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="dropdown-item" sec:authorize="hasRole('SYS_ADMIN')" th:href="@{'/sysadmin/complaints'}">Complaints</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" sec:authorize="hasRole('SYS_ADMIN')" th:href="@{'/sysadmin/userrequests'}">Registration requests</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" sec:authorize="hasRole('SYS_ADMIN')" th:href="@{'/sysadmin/reports'}">Reservation reports</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" sec:authorize="hasRole('SYS_ADMIN')" th:href="@{'/sysadmin/ratings'}">Employee ratings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/auth/logout'}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    </br>
    <h3>Reviews</h3>
    <br>
    <div class="row">
        <div class="table">
            </br>
            <table id="requests" width="90%">
                <tr>
                    <th>Client Name:</th>
                    <th>Review:</th>
                    <th>Rating:</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="review:${reviews}">
                    <td th:text="${review.client.getFullName()}"></td>
                    <td th:text="${review.getReviewText()}"></td>
                    <td th:text="${review.getRating()}"></td>
                    <td><a th:href="@{'/sysadmin/__${principal.id}__/acceptReview/__${review.id}__'}">Accept</a></td>
                    <td><a th:href="@{'/sysadmin/__${principal.id}__/declineReview/__${review.id}__'}" >Decline</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
</body>
</html>