<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">


    <link href="../../static/css/profileCSS.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Adventure</title>
</head>
<body>

<div class="container-fluid bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Instructor adventures</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       href="#" id="navbarDropdown" role="button">
                        Reservations
                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <a class="dropdown-item" sec:authorize="hasRole('CLIENT')"
                           th:href="@{'/boatReservations/upcoming'}"> Upcoming boat reservations</a>
                        <a class="dropdown-item" sec:authorize="hasRole('CLIENT')"
                           th:href="@{'/boatReservations/history'}">Boat reservation history</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" sec:authorize="hasRole('CLIENT')"
                           th:href="@{'/instructorReservations/upcoming'}"> Upcoming instructor reservations</a>
                        <a class="dropdown-item" sec:authorize="hasRole('CLIENT')"
                           th:href="@{'/instructorReservations/history'}">Instructor reservation history</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" sec:authorize="hasRole('CLIENT')"
                           th:href="@{'/cottageReservations/upcoming'}"> Upcoming cottage reservations</a>
                        <a class="dropdown-item" sec:authorize="hasRole('CLIENT')"
                           th:href="@{'/cottageReservations/history'}">Cottage reservation history</a>
                        <a class="dropdown-item" sec:authorize="hasRole('INSTRUCTOR')" th:href="@{'/adventureReservations/upcomingInstructorsReservations/__${principal.id}__'}"> Upcoming reservations</a>
                        <a class="dropdown-item" sec:authorize="hasRole('INSTRUCTOR')" th:href="@{'/adventureReservations/pastInstructorsReservations/__${principal.id}__'}">Reservation history</a>
                        <a class="dropdown-item" sec:authorize="hasRole('INSTRUCTOR')" th:href="@{'/adventureReservations/viewCalendar/__${principal.id}__'}">Calendar</a>
                        <a class="dropdown-item" sec:authorize="hasRole('INSTRUCTOR')" th:href="@{'/adventureReservations/makeAdventureReservationWithClient'}">Make reservation with client</a>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="!hasRole('INSTRUCTOR')">
                    <a class="nav-link" th:href="${'/cottages/allCottages'}">All cottages</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('COTTAGE_OWNER')">
                    <a class="nav-link" th:href="${'/cottages/allMyCottages'}">My Cottages</a>
                </li>
                <li class="nav-item" sec:authorize="!hasRole('COTTAGE_OWNER')">
                    <a class="nav-link" th:href="${'/boats/allBoats'}">All boats</a>
                </li>
                <li class="nav-item" sec:authorize="!hasRole('COTTAGE_OWNER')">
                    <a class="nav-link" th:href="${'/instructors/allInstructors'}">All fishing instructors</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="${'/auth/login'}">Log in</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="${'/auth/signup'}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/auth/home'}">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('CLIENT')">
                    <a class="nav-link" th:href="${'/client/profile/__${principal.id}__'}">Profile</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('COTTAGE_OWNER')">
                    <a class="nav-link" th:href="${'/cottageOwner/profile/__${principal.id}__'}">Profile</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="${'/auth/logout'}">Log out</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</br></br>

<div class="container emp-profile">
    <!--<form method="post">-->
    <form method="get" th:object="${adventure}">
        <div class="row">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div id="profile">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Instructor</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${adventure.instructorInfo}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Adventure</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${adventure.adventureName}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>State</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${adventure.adventureState}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>City</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${adventure.adventureCity}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Residence</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${adventure.adventureResidence}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Average rating</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${adventure.averageRating}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Available from</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${adventure.availableFrom}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Available until</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${adventure.availableUntil}"></p>
                            </div>
                        </div>
                        <br>

                        <br>
                        <br>
                        <a sec:authorize="hasRole('INSTRUCTOR')" th:href="@{'/adventures/__${adventure.id}__/defineAvailability'}">Define availability</a>
                        <br>
                        <br>
                        <a th:href="@{'/adventures/__${adventure.id}__/timeSlots'}">Reservation time slots</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>